/* Impostazioni globali */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Stile per input floating */
.form-floating {
    position: relative;
}

/* Spaziatura per input con icona */
.input-with-icon {
    padding-left: 4.1rem !important; /* Spazio per il pulsante */
}

/* Etichette allineate */
.label-with-icon {
    margin-left: 3.5rem; /* Allineamento con pulsante */
}

/* Pulsante a sinistra */
.floating-button {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Pulsante a destra */
.floating-button-right {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Icone dimensionate */
.btn i {
    font-size: 1.3rem;
}

/* Pulsante "pulisci" */
.btn-outline-danger {
    margin-left: 0.5rem;
}

/* Nasconde l'icona calendario predefinita */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Stile uniforme per i pulsanti di azione */
.action-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Imposta una larghezza uguale per tutti i pulsanti */
    height: 40px; /* Imposta un'altezza uguale per tutti i pulsanti */
    padding: 0; /* Rimuove il padding interno */
    font-size: 1.2rem; /* Dimensione del carattere per le icone */
    border-radius: 0.25rem; /* Mantiene un aspetto arrotondato */
}

/* Differenziazione per i colori */
.btn-outline-primary.action-button {
    color: #0d6efd; /* Colore primario */
    border-color: #0d6efd;
}

.btn-outline-danger.action-button {
    color: #dc3545; /* Colore per il pulsante di eliminazione */
    border-color: #dc3545;
}

/* Hover per evidenziare */
.action-button:hover {
    opacity: 0.85;
    transition: all 0.2s ease-in-out;
}

